{% extends "layout.html" %}

{% block title %}{{ translations['academic'][current_language] }}{% endblock %}

{% set course_prefix_turkish = "https://www.sis.itu.edu.tr/TR/ogrenci/lisans/ders-bilgileri/ders-bilgileri.php?subj=" %}
{% set course_prefix_english =
"https://www.sis.itu.edu.tr/EN/student/undergraduate/course-information/course-information.php?subj=" %}

{% set course_prefix = course_prefix_turkish if current_language == 'tr' else course_prefix_english %}

{% block content %}
<h2>{{ translations['key_courses'][current_language] }}</h2>
<div id="course_tables">
    <table>
        <tr>
            <td> <a href="{{ course_prefix ~ 'BLG&numb=450E' }}">
                    {{ translations['real'][current_language]|safe }}</a></td>
        </tr>
        <tr>
            <td> <a href="{{ course_prefix ~ 'BLG&numb=312E' }}">
                    {{ translations['os'][current_language]|safe }}</a></td>
        </tr>
        <tr>
            <td> <a href="{{ course_prefix ~ 'BLG&numb=433E' }}">
                    {{ translations['comm'][current_language]|safe }}</a></td>
        </tr>
        <tr>
            <td> <a href="{{ course_prefix ~ 'BLG&numb=459E' }}">
                    {{ translations['sec'][current_language]|safe }}</a></td>
        </tr>
    </table>
    <table>
        <tr>
            <td> <a href="{{ course_prefix ~ 'BLG&numb=411E' }}">
                    {{ translations['softeng'][current_language]|safe }}</a></td>
        </tr>
        <tr>
            <td> <a href="{{ course_prefix ~ 'BLG&numb=252E' }}">
                    {{ translations['oop'][current_language]|safe }}</a></td>
        </tr>
        <tr>
            <td> <a href="{{ course_prefix ~ 'BLG&numb=454E' }}">
                    {{ translations['lfd'][current_language]|safe }}</a></td>
        </tr>
        <tr>
            <td> <a href="{{ course_prefix ~ 'BLG&numb=368E' }}">
                    {{ translations['or'][current_language]|safe }}</a></td>
        </tr>
    </table>
</div>
<h2>{{ translations['sources'][current_language] }}</h2>
<table id="center_table">
    <tr>
        <td> <a href="https://github.com/canetizen/itu-ceng-course-materials">{{
                translations['all_course_materials'][current_language]|safe }}</a></td>
    </tr>
    <tr>
        <td> <a href="https://github.com/Gofies/GHMS">{{ translations['blg_411e'][current_language]|safe }}</a></td>
    </tr>
    <tr>
        <td> <a href="https://github.com/itudb2319/itudb2319">{{ translations['blg_317e'][current_language]|safe }}</a>
        </td>
    </tr>
</table>
</br>
<h2>{{ translations['link'][current_language] }}</h2>
<table id="center_table">
    <tr>
        <td> <a href="http://notkutusu.com/">Not Kutusu</a></td>
    </tr>
    <tr>
        <td> <a href="https://itu-helper.github.io/home/">{{ translations['helper'][current_language]|safe }}</a></td>
    </tr>
    <tr>
        <td> <a href="https://itusenlikci.com/">{{ translations['senlikci'][current_language]|safe }}</a></td>
    </tr>
    <tr>
        <td> <a href="https://keepdying.github.io/itu-web-archive/">{{ translations['archive'][current_language]|safe
                }}</a></td>
    </tr>
</table>
{% endblock %}