{% extends "layout.html" %}

{% block title %}{{'Akademik ' if current_language == 'tr' else 'Academic'}}{% endblock %}


{% set course_prefix_turkish = "https://www.sis.itu.edu.tr/TR/ogrenci/lisans/ders-bilgileri/ders-bilgileri.php?subj=" %}
{% set course_prefix_english =
"https://www.sis.itu.edu.tr/EN/student/undergraduate/course-information/course-information.php?subj=" %}

{% set course_prefix = course_prefix_turkish if current_language == 'tr' else course_prefix_english %}

{% block content %}

<h2>{{ 'Tamamladığım Anahtar Dersler ' if current_language == 'tr' else 'Key Courses' }}</h2>
<div id="course_tables">
    <table>
        <tr>
            <td> <a href="{{course_prefix ~ 'BLG&numb=112E'}}">
                    {{'Ayrık Matematik' if current_language == 'tr' else 'Discrete Mathematics'}} (BLG 112E)</a></td>
        </tr>
        <tr>
            <td> <a href="{{course_prefix ~ 'MAT&numb=175E'}}">
                    {{'Soyut Matematik' if current_language == 'tr' else 'Abstract Mathematics'}} (MAT 175E)</a></td>
        </tr>
        <tr>
            <td> <a href="{{course_prefix ~ 'BLG&numb=231E'}}">
                    {{'Sayısal Devreler' if current_language == 'tr' else 'Digital Circuits'}} (BLG 231E)</a></td>
        </tr>
        <tr>
            <td> <a href="{{course_prefix ~ 'BLG&numb=202E'}}">
                    {{'Blg. Müh. Sayısal Yöntemler' if current_language == 'tr' else 'Numerical Methods in CE'}} (BLG
                    202E)</a></td>
        </tr>
        <tr>
            <td> <a href="{{course_prefix ~ 'BLG&numb=311E'}}">
                    {{'Biçimsel Diller ve Otomatlar' if current_language == 'tr' else 'Formal Languages and Automata'}}
                    (BLG 311E)</a></td>
        </tr>
        <tr>
            <td> <a href="{{course_prefix ~ 'BLG&numb=368E'}}">
                    {{'Yöneylem Araştırması' if current_language == 'tr' else 'Operation Research'}} (BLG 368E)</a></td>
        </tr>

        <tr>
            <td> <a href="{{course_prefix ~ 'HUK&numb=217'}}">
                    {{'AR-GE Hukuku' if current_language == 'tr' else 'R&D Law'}} (HUK 217)</a></td>
        </tr>
    </table>
    <table>
        <tr>
            <td> <a href="{{course_prefix ~ 'BLG&numb=223E'}}">
                    {{'Veri Yapıları' if current_language == 'tr' else 'Data Structures'}} (BLG 223E)</a></td>
        </tr>
        <tr>
            <td> <a href="{{course_prefix ~ 'BLG&numb=252E'}}">
                    {{'Nesne Yönelimli Programlama' if current_language == 'tr' else 'Object Oriented Programming'}}
                    (BLG 252E)</a></td>
        </tr>
        <tr>
            <td> <a href="{{course_prefix ~ 'BLG&numb=335E'}}">
                    {{'Algoritma Analizi I' if current_language == 'tr' else 'Analysis of Algorithms I'}} (BLG 335E)</a>
            </td>
        </tr>
        <tr>
            <td> <a href="{{course_prefix ~ 'BLG&numb=317E'}}">
                    {{'Veri Tabanı Sistemleri' if current_language == 'tr' else 'Database Systems'}} (BLG 317E)</a></td>
        </tr>
        <tr>
            <td> <a href="{{course_prefix ~ 'MAT&numb=281E'}}">
                    {{'Doğrusal Cebir ve Uygulamaları' if current_language == 'tr' else 'Linear Algebra and
                    Applications'}} (MAT 281E)</a></td>
        </tr>
        <tr>
            <td> <a href="{{course_prefix ~ 'MAT&numb=271E'}}">
                    {{'Olasılık ve İstatistik' if current_language == 'tr' else 'Probability and Statistics'}} (MAT
                    271E)</a></td>
        </tr>
        <tr>
            <td> <a href="{{course_prefix ~ 'BLG&numb=454E'}}">
                    {{'Veriden Öğrenme' if current_language == 'tr' else 'Learning From Data'}} (BLG 454E)</a></td>
        </tr>
    </table>

</div>
<br>
<h2>{{'Kaynaklar' if current_language == 'tr' else 'Sources'}}</h2>
<table id="source_table">
    <tr>
        <td> <a href="https://kovan.itu.edu.tr/index.php/s/zPUzqhZTSPa7aSd">{{'Tüm Ders Kaynakları' if current_language == 'tr' else 'All Course Materials'}}</a></td>
    </tr>
    <tr>
        <td> <a href="https://github.com/canetizen/itu_courses">{{'Ödev ve Sınav Çözümlerinin Kaynak Kodları' if current_language == 'tr' else 'Source Codes of Homework and Exam Solutions'}}</a></td>
    </tr>
    <tr>
        <td> <a href="https://github.com/itudb2319/itudb2319">{{'BLG 317E Veri Tabanı Sistemleri Dönem Projesi' if current_language == 'tr' else 'BLG 317E Database Systems Term Project'}}</a></td>
    </tr>
</table>
{% endblock %}
