{% extends "layout.html" %}

{% block title %}{{ translations['contact'][current_language] }}{% endblock %}

{% block content %}
<h2>{{ translations['contact'][current_language] }}</h2>
<div id="contact_block">
        <p><strong>{{ translations['email'][current_language] }}: </strong><span
                        onmouseover="innerHTML='mcancaliskan@outlook.com'"
                        onmouseout="innerHTML='μκανκαλισκαν@ουτλοοκ.κομ'">καλισκανμυκʹΦιτυ.εδυ.τρ</span></p>
        <br>
        <a href="https://www.linkedin.com/in/mustafa-can-caliskan/">{{ translations['linkedin'][current_language] }}</a>
        <a href="https://github.com/canetizen">{{ translations['github'][current_language] }}</a>
        <a href="https://www.kaggle.com/canetizen">{{ translations['kaggle'][current_language] }}</a>
        <a href="https://kovan.itu.edu.tr/index.php/s/ff9Xg3sqSwyFGTJ">{{ translations['cv'][current_language] }}</a>
</div>
{% endblock %}
