{% extends "layout.html" %}

{% block title %}{{ translations['about_me'][current_language] }}{% endblock %}

{% block content %}
<h2>{{ translations['about_me'][current_language] }}</h2>
<p>
    {% if current_language == "tr" %}
    {{ translations['about_me_content'][current_language]|safe }}
    {% else %}
    {{ translations['about_me_content'][current_language]|safe }}
    {% endif %}
</p>
<br>
<h2>{{ translations['education'][current_language] }}</h2>
<table id="education">
    <tr>
        <td>➥ {{ translations['itu_bsce'][current_language]|safe }}</td>
    </tr>
    <tr>
        <td>➥ {{ translations['pema_college'][current_language]|safe }}</td>
    </tr>
</table>
<br>
<h2>{{ translations['experience'][current_language] }}</h2>
<table id="experience">
    <tr>
        <td>➥ {{ translations['havelsan_intern'][current_language]|safe }}</td>
    </tr>
    <tr>
        <td></br></td>
    </tr>
    <tr>
        <td>➥ {{ translations['aselsan_intern'][current_language]|safe }}</td>
    </tr>
    <tr>
        <td></br></td>
    </tr>
    <tr>
        <td>➥ {{ translations['itu_supercomputer_club'][current_language]|safe }}</td>
    </tr>
    <tr>
        <td>&emsp;&emsp;• {{ translations['chairperson'][current_language]|safe }}</td>
    </tr>
    <tr>
        <td>&emsp;&emsp;• {{ translations['supervisory_board_member'][current_language]|safe }}</td>
    </tr>
    <tr>
        <td>&emsp;&emsp;• {{ translations['founding_member'][current_language]|safe }}</td>
    </tr>
    <tr>
        <td></br></td>
    </tr>
    <tr>
        <td>➥ {{ translations['bayoyo_summer_school'][current_language]|safe }}</td>
    </tr>
</table>
<br>
<h2>{{ translations['certificates'][current_language] }}</h2>
<table id="certificates">
    <tr>
        <th><a href="https://www.coursera.org/account/accomplishments/specialization/NZXU5KNPFZB3">{{ translations['machine_learning'][current_language] }}</a></th>
    </tr>
    <tr>
        <th><a href="https://www.coursera.org/account/accomplishments/verify/2GQM5E68A9RY">{{ translations['linux_for_developers'][current_language] }}</a></th>
    </tr>
    <tr>
        <th><a href="https://learning.miuul.com/certificates/gs0vpbfjp9">{{ translations['feature_engineering_miuul'][current_language] }}</a></th>
    </tr>
    <tr>
        <th><a href="https://coursera.org/share/a9b6311dd1287c969255160c37be2ee7">{{ translations['agile_project_management_google'][current_language] }}</a></th>
    </tr>
    <tr>
        <th><a href="https://kovan.itu.edu.tr/index.php/s/ZDlH2NMECvuf3Xx">{{ translations['bayoyo_machine_learning_summer_school'][current_language] }}</a></th>
    </tr>

    <tr>
        <th><a href="https://www.coursera.org/account/accomplishments/verify/PNW6APL46K87">{{ translations['parallel_programming_in_java'][current_language] }}</a></th>
    </tr>
</table>
{% endblock %}
