{% set title = context["title"] %}

{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}


{% block content %}
<h2>Hakkımda</h2>
<p>&emsp;&emsp;16 Eylül 2001 tarihinde Tokat'ta doğdum. 2020 yılında lise eğitimimi PEMA Kolejinde
    tamamladıktan sonra İstanbul Teknik Üniversitesi
    Bilgisayar Mühendisliği bölümünde öğrenim hayatıma başladım. 2022 yılından beri lisans öğrenimime ek
    olarak teorik matematik üzerine
    yandal öğrenimime devam etmekteyim. Temmuz 2023'te yönetim kurulu başkanlığına seçildiğim İTÜ Süper
    Bilgisayar Kulübünde süper bilgisayarlar,
    yüksek başarımlı hesaplama ve paralel programlama gibi teknik konuları lisans düzeyine yayma ve bu
    konulardaki bilgi ve kültürü arttırma amaçları doğrultusunda
    kulüp üyelerimizle birlikte çalışmalar yürütmeye devam ediyorum.
</p>
</br>
<h2>Deneyim</h2>
<table>
    <tr>
        <td>➥ ASELSAN Konya Yazılım Tasarım Mühendis Stajyeri <strong><em>(Ağustos 2023 -
                    Eylül 2023)</em></td>
    </tr>
    <tr>
        <td></br></td>
    </tr>
    <tr>
        <td>➥ İTÜ Süper Bilgisayar Kulübü </td>
    </tr>
    <tr>
        <td>&emsp;&emsp;• Yönetim Kurulu Başkanı <strong><em>(Temmuz 2023 - Devam Ediyor)</em></strong></td>
    </tr>
    <tr>
        <td>&emsp;&emsp;• Denetim Kurulu Üyesi <strong><em>(Ekim 2022 - Temmuz
                    2023)</em></strong></td>
    </tr>
    <tr>
        <td>&emsp;&emsp;• Kurucular Kurulu Üyesi <strong><em>(Haziran 2022 - Ekim
                    2022)</em></strong></td>
    </tr>
    <tr>
        <td></br></td>
    </tr>
    <tr>
        <td>➥ BAYÖYO 2023: Bilim Akademisi - Sabancı Üniversitesi - İstanbul Teknik
            Üniversitesi
            Yapay Öğrenme Yaz Okulu Organizasyon Ekibi Üyesi <strong><em>(Haziran 2023)</em></strong></td>
    </tr>
</table>
</br>
<h2>Sertifikalar</h2>
<table id="certificates">
    <tr>
        <th><a href="https://coursera.org/share/a9b6311dd1287c969255160c37be2ee7">Agile Proje Yönetimi -
                Google (Coursera.org aracılığıyla)</a></th>
    </tr>
    <tr>
        <th><a href="https://www.coursera.org/account/accomplishments/verify/CQDP5NHGJF84">Güvenli Kodlama
                İlkeleri - University of California, Davis (Coursera.org aracılığıyla)</a></th>
    </tr>
    <tr>
        <th><a href="https://drive.google.com/file/d/1uWh_gc6HWAu1IO8wCBEhRHONKEP0ai5_/view">BAYÖYO 2023:
                Bilim Akademisi - Sabancı Üniversitesi - İstanbul Teknik Üniversitesi
                Yapay Öğrenme Yaz Okulu</a></th>
    </tr>
    <tr>
        <th><a href="https://coursera.org/verify/PNW6APL46K87">Java ile Paralel Programlama - Rice
                University (Coursera.org aracılığıyla)</a></th>
    </tr>
    <tr>
        <th> <a href="https://www.btkakademi.gov.tr/portal/certificate/validate?certificateId=2Nwc0zGbxr">Versiyon
                Kontrolleri: Git ve GitHub - BTK Akademi</a></th>
    </tr>
    <tr>
        <th> <a href="https://www.btkakademi.gov.tr/portal/certificate/validate?certificateId=8jmhLOjbXM">Java
                ile Programlamaya Giriş - BTK Akademi</a></th>
    </tr>
</table>
{% endblock %}