<!DOCTYPE html>
<html lang="{{ current_language }}">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='icons/site_icon.png') }}" type="image/x-icon">
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
    <header>
        <table id="language_table">
            <tr>
                <td><a href="{{ url_for(endpoint, lang='tr') }}"><img src="{{ url_for('static', filename='icons/tr.svg') }}" alt="Turkish"></a></td>
                <td><a href="{{ url_for(endpoint, lang='en') }}"><img src="{{ url_for('static', filename='icons/eng.svg') }}" alt="English"></a></td>
            </tr>
        </table>
        <h1>Mustafa Can ÇALIŞKAN</h1>
    </header>
    <nav>
        <a href="{{ url_for('about', lang=current_language) }}">{{ translations['about_me'][current_language] }}</a>
        <a href="{{ url_for('academic', lang=current_language) }}">{{ translations['academic'][current_language] }}</a>
        <a href="{{ url_for('contact', lang=current_language) }}">{{ translations['contact'][current_language] }}</a>
    </nav>
    <section>
        {% block content %}{% endblock %}
    </section>
    <footer>
        © 2024 M. Can ÇALIŞKAN<br>
        <a href="https://www.wallpaperflare.com/red-and-black-clouds-digital-wallpaper-galaxy-space-stars-wallpaper-ezn">{{ translations['background_image'][current_language] }}</a>
        <br>
        {{ translations['last_updated'][current_language] }}: {{ last_updated }}
    </footer>
    
</body>
</html>