<!DOCTYPE html>
<html lang={{current_language}}>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='icons/logo.jpg') }}" type="image/x-icon">
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    <title>{% block title %}M. Can Çalışkan{% endblock %}</title>
</head>

<body>
    <div>
        <header>
            <table id="language_table">
                <tr>
                    <td><a href="{{ url_for(endpoint, lang='tr') }}"><img
                                src="{{ url_for('static', filename='icons/tr.svg') }}" height="18px" width="24px"
                                alt="turkish"></a></td>
                    <td><a href="{{ url_for(endpoint, lang='en') }}"><img
                                src="{{ url_for('static', filename='icons/eng.svg') }}" height="18px" width="24px"
                                alt="english"></a></td>
                </tr>
            </table>
            <h1>Mustafa Can ÇALIŞKAN</h1>
        </header>
        <nav>
            <a href="{{ url_for('about', lang=current_language) }}">{{ 'Hakkımda' if current_language == 'tr' else
                'About Me' }}</a>
            <a href="{{ url_for('academic.academic', lang=current_language) }}">{{ 'Akademik' if current_language ==
                'tr' else 'Academic' }}</a>
            <a href="{{ url_for('contact.contact', lang=current_language) }}">{{ 'Erişim' if current_language == 'tr'
                else 'Contact' }}</a>
        </nav>
    </div>
    <section>
        {% block content %}{% endblock %}
        <br>
    </section>
    <footer>© 2024 M. Can ÇALIŞKAN</footer>
</body>

</html>